<nav id="myNav">
    <div routerLink="/" class="logo">
        <img src="../../assets/images/logo.png">
    </div>
    <ul>
        <li><a class="active" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact us</a></li>
        <li><a routerLink="/form" routerLinkActive="active">Form</a></li>
        <li><a routerLink="/heroes" routerLinkActive="active">Heroes</a></li>
    </ul>
</nav>

<script src="https://code.jquery.com/jquery-3.4.1.js">
</script>
<script>
    $(window).on('scroll', function() {
        console.log("scroll");
        if (($window).scrollTop()) {
            $('nav').addClass("change")
        } else {
            $('nav').removeClass("change")
        }
    })
</script>