.gray {
    color: grey
}

.large {
    font-size: 4em;
}

body {
    margin-top: 100px
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul li {
    background: rgb(238, 238, 238);
    padding: 2em;
    border-radius: 4px;
    margin-bottom: 7px;
    display: grid;
    grid-template-columns: 60px auto;
}

ul li img {
    border-radius: 50%;
    width: 100%;
}

#user_detail {
    padding: 10px;
    color: green;
    size: 100px;
}

#user_detail:hover {
    padding: 10px;
    color: red;
    size: 100px;
}

#user_detail::before {
    content: "Name: ";
    color: blue;
}